/* APLICARA A TODOS LOS HTML / YA QUE TODOS LLEVAN LA BARRA DE NAVEGACION */
body {
  min-height: 100vh;
  background-image: linear-gradient(-45deg, #e9ecf1 50%, #b7c5df 50%);
  font-family: "Raleway", sans-serif;
}

/* ENTREGA 4 BOTON DESPLEGABLE EN NOMBRE DE USUARIO */
header {
  width: 100%;
}

#navID li {
  list-style: none;
  position: relative;
  text-align: center;
}

.navUser ul {
  text-align: center;
  padding: 5px 20px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  position: absolute;
  display: none;
  top: 50px;
  left: -15px;
  background-color: #343a40;
  text-decoration: none;
  float: inline-end;
  list-style: none outside none;
  padding-left: 0px;
  padding-right: 0px;
  transition: ease-in 0.3s ease;
  
}

/* ENTREGA 5 carrito del usuario */


h1 {
  text-align: center;
  color: rgb(1, 4, 19);
}

/* DESDE AQUI EMPIEZA LA SECCIÓN DEL CARRITO */
.tabla-calculo {
  display: flex;
  justify-content: center;
}
.tabla {
  width:80%;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
  margin-bottom: 2rem;
  empty-cells: hide;
  border-radius: 10px;
}

.border-top-left {
  border-top-left-radius: 10px;
}
.border-top-right {
  border-top-right-radius: 10px;
}
.border-bottom-right {
  border-bottom-right-radius: 10px;
}
.border-bottom-left {
  border-bottom-left-radius: 10px;
}
th {
  font-size: 1.1rem;
  background: rgba(12, 53, 94, 0.7);
}
th, td, tr {
  border: var(--border-table);
  text-align: center;
  padding: .4rem 0;
}

.precio-tabla::before {
  content: 'US$';
  padding-right: 0.4rem;
}
.button {
  margin: 0 .4rem;
  border: var(--border-table);
  background: hsla(250, 70%, 50%, .7);
  color: white;
  cursor: pointer;
}
.negrita {
  font-weight: bold;
}
.none {
  background: transparent;
  border: none;
}



/* Imagen */
.contenedor-img {
  
  height: 127px;
  overflow: hidden;
}
img {
  width: 100%;
}

/* Entrega 6 Mi perfil */

.fotoPerfil {
  text-align: center;
  height: 300px;
  padding: 12px;
  
}

.foto{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.user-name{
  font-size: 18px;
  margin-top: 14px;
}

.datosUsuario{
  list-style: none;
  text-align: center;
  padding: 0;

}

.datosUsuario li {
  display: inline-block;
  margin: 5px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: rgb(67, 65, 161);
}

#DatosNuevosDeUsuario{
  float: left;
}