body {
	background-image: url("/ecommerce-JAP/img/productinfo.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
h1 {
    color: rgb(254, 254, 255);
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
}

/* estilos de galeria */

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;

    display: flex;

    flex-wrap: wrap;

    justify-content: space-around;
}

.galeria li {
    margin: 5px;
}
.galeria img {
    border-radius: 10%;
    border-color: rgb(221, 196, 196);
    border-style: groove;
    width: 500px;
    height: 300px;

}