body {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
h1 {
  color: rgb(13, 21, 68);
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Glory", sans-serif;
}
hr {
  text-align: center;
}

.icon-bubble {
  border-color: rgb(82, 187, 248);
  color: antiquewhite;
}

.lead {
  color: rgb(13, 21, 68);
  font-size: 37px;
  font-family: "Playfair Display", serif;
}

/* estilos de galeria */
.galeria {
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galeria li {
  margin: 5px;
}

.galeria img {
  border-radius: 10%;
  border-color: rgba(13, 21, 68, 0.644);
  border-style: groove;
  width: 500px;
  height: 300px;
}

/** estilos comentarios de json y nuevos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
main {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

main h5 {
  font-size: 30px;
  font-family: "Playfair Display", serif;

}
main h2 strong {
  color: rgb(13, 21, 68);
  text-align: center;
  font-size: 39px;
  font-family: "Playfair Display", serif;
}
.line {
  width: 500px;
  height: 2px;
  border-style: none;
  background: rgba(44, 77, 139, 0.281);
  margin-top: 20px;
  text-align: center;
}
.container-comments {
  margin-top: 20px;
  border-radius: 10%;
}
.comments {
  border-radius: 10%;
  display: flex;
}
.info-comments:hover {
  border-radius: 10%;
  border-bottom: 6px solid rgb(13, 21, 68);
}
.info-comments {
  border-radius: 10%;
  margin-left: 20px;
  background: rgb(67, 76, 128);
  transition: all 300ms;
  margin-top: 20px;
  border-bottom: 6px solid transparent;
}
.info-comments .header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgb(25, 26, 109);
  color: rgb(242, 244, 247);
}
.info-comments p {
  font-family: "Playfair Display", serif;
  border-radius: 10%;
  padding: 20px;
  font-size: 20px;
}
.info-comments .footer {
  width: 100%;
  background: rgb(31, 103, 211);
  padding: 10px;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  border-radius: 10%;
}
.info-comments .footer h5 {
  border-radius: 10%;
  font-size: 14px;
  cursor: pointer;
}
.info-comments .icon-heart {
  border-radius: 10%;
  color: teal;
  transition: all 300ms;
  font-size: 20px;
}
.info-comments .icon-heart:hover {
  color: #d91111;
  cursor: pointer;
}

/* CAJAS QUE RECIBEN LA NUEVA OPINION  */

#caja_comentarios {
  background-color: rgba(0, 47, 94, 0.5);
  display: inline-block;
}

#NombreUsuarioComentario {
  border-radius: 5%;
  font-family: cursive;
}

#caja_comentarios {
  border-radius: 5%;
  padding: 1%;
}
#comenta_aqui {
  font-family: cursive;
}
#button {
  padding: 3% 5%;
  margin: 2% 0;
  background-color: darkblue;
  color: white;
  border-radius: 15%;
  border-style: none;
}

h3 strong {
  color: rgb(2, 59, 40);
}
.icon-hand-peace-o {
  color: rgb(4, 100, 68);
}

/* ESTRELLAS PARA EVALUAR   */
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

/* barra de navegacion / boton de usuario entrega 4  */

ul, ol{
  list-style: none;

}


 .navUser li a:hover{
   display: block;
   background-color: salmon;
   color: blue;
   
}

.navUser > li{
  float: left;
}

.navUser li a{
  display: none;
  position: absolute;
  min-width: 140px;
}

.navUser li:hover > ul{
  display: block;

}


